<header class="sticky-top">
      <script>
            document.addEventListener('DOMContentLoaded', function () {
                  // Collapse navbar on tap
                  $(document).ready(function () {
                        $(".navbar-nav li a").click(function (event) {
                              $(".navbar-collapse").collapse('hide');
                        });
                  });
            });
      </script>
      <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white static-top">
            <div class="container">
                  <a class="navbar-brand d-none d-sm-inline" href="/">
                        <img class="header-logo" src="/opensciencecomputing/img/new-logo.png" alt="Logo Open Science Computing | Rich Signell"> Open Science Computing | <small>Rich Signell</small>
                  </a>
                  <a class="navbar-brand d-sm-none d-xs-inline" href="/">
                        <img class="header-logo" src="/opensciencecomputing/img/new-logo.png" alt="Logo Open Science Computing | Rich Signell"> <small>OSC | Rich Signell</small>
                  </a>
                  <button class="navbar-toggler no-glow" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
                        style="border: none;">
                        <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-lg-auto">
                              <li class="nav-item mr-3">
                                    <a class="nav-link"
                                          href="{{ with .File }}{{ if ne  .Dir "" }}/{{ end }}{{ end }}#">Home </a>
                              </li>
                              <li class="nav-item mr-3">
                                    <a class="nav-link" href="/opensciencecomputing/#offer">Services</a>
                              </li>
                              <li class="nav-item mr-3">
                                    <a class="nav-link" href="/opensciencecomputing/#about-me">About me</a>
                              </li>
                              <li class="nav-item mr-3">
                                    <a class="nav-link" href="/opensciencecomputing/#pricing">Pricing</a>
                              </li>
                              <li class="nav-item mr-3">
                                    <a class="nav-link" href="/openscienccomputing/#contact">Contact</a>
                              </li>
                        </ul>
                  </div>
            </div>
      </nav>
</header>
