{{ define "main" }}
<section id="hero">
    <div class="container d-flex flex-fill flex-column justify-content-center align-items-center text-center">
        <h1>Open Science Computing<br class="d-sm-none" /><span class="d-sm-inline">&nbsp;</span></h1>
        <h2>Rich Signell</h2>
    </div>
</section>

<div class="banner">
    <div class="container py-5">
        <p class="banner-quote">"In real open source, you have the right to control your own destiny" -- Linus Torvalds</p>
    </div>
</div>

<section class="mb-7">
    <div class="white-gradient mb-5">
        {{ $boyResource:= .Page.Resources.GetMatch "boy-stairs.jpeg" }}
        {{ $boy1 := $boyResource.Resize "x200 q100" }}
        {{ $boy2 := $boyResource.Resize "x400 q100" }}
        <img class="background" src="/opensciencecomputing/img/boy-stairs-cropped-compressed.jpg"
            srcset="{{ $boy1.RelPermalink | safeURL }} {{ $boy1.Width }}w, {{ $boy2.RelPermalink | safeURL }} {{ $boy2.Width }}w, /img/boy-stairs-cropped-compressed.jpg 2739w"
            sizes="(max-width: 576px) {{ $boy1.Width }}px, (max-width: 768px) {{ $boy2.Width }}px, 2739px"
            alt="Ein kleiner Junge steht vor einer Treppem mit sehr vielen, scheinbar unüberwindbaren Stufen.">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h2 id="offer">Open Science Computing</h2>
                    <p class="lead">
                        Accelerating Open Science by expanding the community of researchers sharing cloud-optimized data and conducting analysis and visualization with a scalable open-source framework that works effectively on laptops, HPC and Cloud. 
                    </p>
                
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <h3 class="text-center mb-5 m-0">I offer consulting services for</h3>
            <div class="row justify-content-around">
                {{ range $.Site.Data.support.callouts }}
                <div class="col-6 col-md-6 col-lg-3 text-center text-dark my-4">
                    <div class="my-3">
                        <svg class="bi" width="32" height="32">
                            <use xlink:href="/opensciencecomputing/icons/bootstrap-icons.svg#{{ .icon }}" />
                        </svg>
                    </div>
                    <p class="lead">{{ .text | safeHTML }}</p>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container pb-5">
        <div class="row">
            <div class="col mb-5 order-lg-2 col-lg-6 d-flex justify-content-center align-items-center">
                {{ $portraitResource:= .Page.Resources.GetMatch "Rich_signell2.jpg" }}
                {{ $portrait := $portraitResource.Resize "220x220 q100" }}
                <img class="rounded-circle" src="{{ $portrait.RelPermalink | safeURL }}"
                    alt="Portrait of Rich by Dann Blackwood." width="220" height="220">
            </div>
            <div class="col col-12 col-lg-6">
                <h2 id="about-me">About me</h2>
                <p class="lead">
                    My name is Rich Signell.
                </p>
                <p>
                    I grew up with a fascination of the ocean.
                </p>
                <p>
                    After becoming a physical oceanographer, I spent several decades running numerical ocean models to help answer environmental questions in the coastal ocean. Eventually I developed a fascination with how to effectively share model data with others, and became involved with the development of standards and tolls that allow more people to effectively explore these and other large datasets.
              
                </p>
            </div>
        </div>
    </div>

    <h3 class="text-center text-uppercase border-top border-bottom p-4 m-0">Education</h3>
    <div class="vita p-4">
        {{ range $idx, $entry := $.Site.Data.vita.education }}
        {{ partial "vita-entry.html" (dict "entry" . "idx" $idx ) }}
        {{ end }}
    </div>

    <h3 class="text-center text-uppercase border-top border-bottom p-4 m-0">Professional Experience</h3>
    <div class="vita p-4">
        {{ range $idx, $entry := $.Site.Data.vita.work_experience }}
        {{ partial "vita-entry.html" (dict "entry" . "idx" $idx ) }}
        {{ end }}
    </div>

</section>


<div class="banner my-4">
    <div class="container py-5">
        <p class="text-center lead">Let's talk! </p>
    </div>
</div>
<!-- <h3 class="text-center text-uppercase border-top border-bottom p-4 m-0">Lass uns reden, Problem!</h3> -->

<section>
   
    <div class="container pb-5 pt-4">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6">
               <h2 id="pricing">Pricing</h2>
                <h3 class="h4">My hourly rate </h3>               
                   <p>My rate is the same whether used for training, workflow develpment or support, in person or virtual.  I don't charge for travel time, but expect travel costs to be reimbursed. 
                </p>
            </div>
             <div class="col-12 col-lg-5 d-flex flex-column justify-content-center mt-3 mt-sm-0">
                <div class="lur-jumbotron lur-jumbotron-primary my-2 d-flex justify-content-between align-items-center">
                    <span>
                        Hourly rate:
                    </span>
                    <span class="price font-weight-bold">150 USD</span>
                </div>
            </div>
        </div>


        <!-- <div class="alert alert-warning" role="alert">
            This is a warning alert—check it out!
        </div> -->
    </div>
</section>

<hr>

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2 id="contact">Contact</h2>
                <p class="lead">
                    Would you like to contact me?
                </p>
                You can reach me via email: rich at opensciencecomputing.com 
            </div>

        </div>
    </div>
</section>
{{ end }}
